<div class="col-6">
    <button class=" btn btn-outline-info" id="filter_on">
    <i class="fas fa-filter"></i>
    Filter Mode
    </button>
    <button class="btn btn-outline-danger" style="display:none" id="filter_undo">
        <i class="fas fa-window-close"></i>
    Cancel
    </button>
    <button class="btn btn-outline-info" style="display:none" id="filter_advance">
        <i class="fas fa-chevron-down"></i>
        More Options
    </button>
</div>
<div style="display:none" class="col-2">
    <p>
        <button class="btn btn-outline-success" id="filter_on">More Options</button>
    </p>
</div>
<div id="filter-panel" style="display:none" class="col-12">
    <form id="filter-form" class="form-inline">
        <div class="form-group">
            <input name="term" class="form-control" placeholder="term" />
        </div>
        <div class="form-group">
            <select name="category" class="form-control" asp-items="Model.SelectCategories"></select>
        </div>
        <div class="form-group num">
            <input name="amount_min" class="form-control" placeholder="min" />
        </div>
        <div class="form-group num">
            <input name="amount_max" class="form-control" placeholder="max" />
        </div>
        <div class="form-group">
            <button class="btn btn-success" type="submit" id="filter_on">Filter</button>
        </div>
    </form>
</div>
<div id="extra-panel" style="display:none" class="col-12">
    <form class="form-inline">
        <div class="form-group short">
            <label class="control-label" for="d-after">After of: </label>
            <input form="filter-form" class="form-control" type="date" name="after" id="d-after" value="" />
        </div>

        <div class="form-group short">
            <label class="control-label" for="d-before">Before of: </label>
            <input form="filter-form" class="form-control" type="date" name="before" id="d-before" value="" />
        </div>
        <div class="form-group short">
            <label class="control-label" for="d-before">Group: </label>
            <select form="filter-form" name="grouping" class="form-control">
                <optgroup label="For Date">
                    <option value="none">No Group</option>
                    <option value="day">Day</option>
                    <option value="month">Month</option>
                    <option value="year">Year</option>
                </optgroup>
                <optgroup label="Other">
                    <option value="category">Category</option>
                    <option value="concepts">Concepts</option>
                </optgroup>
            </select>
        </div>
    </form>
</div>
