<aside id="sidebar-wrapper">
    <div class="sidebar-brand">
        <a href="index-2.html">Accounting</a>
    </div>
    <ul class="sidebar-menu">

        <li class="menu-header">Dashboard</li>
        
        <li class="menu-link">
            <a class="nav-link" href="/">Home</a>
        </li>

        <li class="menu-link">
            <a class="nav-link" asp-page="/Dashboard/DashboardBasic">Dashboard</a>
        </li>
        <li class="menu-link">
            <a class="nav-link" href="">Estudio</a>
        </li>

        <li class="menu-header divider">Manage</li>

        <li class="menu-link">
            <a class="nav-link" asp-page="/Earns/Index">Income</a>
        </li>
        <li class="menu-link">
            <a class="nav-link" asp-page="/Expenses/Index">Expense</a>
        </li>
        <li class="menu-link">
            <a class="nav-link" asp-page="/EarnCategories/Index">Category Income</a>
        </li>
        <li class="menu-link">
            <a class="nav-link" asp-page="/ExpenseCaregories/Index">Category Expense</a>
        </li>
    </ul>
</aside>