@page
@model OliWorkshop.AccountingSys.Pages.Dashboard.DashboardBasicModel


@{
    ViewData["Title"] = "DashboardBasic";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <h3 class="text-center">Principal Dashboard</h3>
<hr />
<div class="row">
    <div class="col-9">
        <div class="card">
            <div class="card-header">
                Last Seven Days
            </div>
            <div class="card-body">
                <canvas class="chart-height" id="MBasic"></canvas>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>
</div>


@section Scripts {

    <script src="~/lib/chart.min.js"></script>
    <script src="~/js/chart-helpers.js"></script>

    <script>
        $(document).ready(function () {
            chartMetrics("MBasic", [@Html.Raw(string.Join(',', Model.LabelCharts.Select(s => "'"+s+"'").ToArray())) ], [
                {
                    label: "Incomes",
                    values: [@(string.Join(',', Model.TotalIncomes))],
                    backgroundColor: [
                        'rgba(11, 99, 255, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(11, 206, 255, 0.2)',
                        'rgba(75, 192, 255, 0.2)',
                        'rgba(153, 2, 255, 0.2)',
                        'rgba(11, 159, 255, 0.2)'
                     ],
                     borderColor: [
                            'rgba(11, 99, 255, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(11, 206, 255, 1)',
                            'rgba(75, 192, 255, 1)',
                            'rgba(153, 2, 255, 1)',
                            'rgba(11, 159, 255, 1)'
                    ]
                }, {
                     label: "Expenses",
                     values: [@(string.Join(',', Model.TotalExpense))],
                     backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                     ],
                     borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                    ]
                }
            ]);
        });
    </script>
}

