@page
@model OliWorkshop.AccountingSys.Pages.EarnCategories.CreateModel
@using System.Security.Claims
@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>EarnCategory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EarnCategory.Name" class="control-label"></label>
                <input asp-for="EarnCategory.Name" class="form-control" />
                <span asp-validation-for="EarnCategory.Name" class="text-danger"></span>
            </div>
            <input asp-for="EarnCategory.UserId" class ="form-control" value="@User.GetUserId()" type="hidden"/>
            <div class="form-group">
                <label asp-for="EarnCategory.AtCreated" class="control-label"></label>
                <input asp-for="EarnCategory.AtCreated" class="form-control" />
                <span asp-validation-for="EarnCategory.AtCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
